{{- if not .Values.postgresql.enabled }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ template "mlp.name" .}}
    chart: {{ template "mlp.chart" .}}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  name: {{ template "mlp.fullname" .}}-postgresql
  namespace: {{ .Release.Namespace }}
spec:
  type: ExternalName
  externalName: {{ .Values.externalPostgres.address }}
{{- end -}}
