# This values only used for E2E tests.
# You must use this values together with the default values.yaml:
# E.g.: helm install mlp-e2e ./chart --values=values.yaml --values=e2e-values.yaml

mlp:
  environment: dev
  # TODO: After the MLP docker image got published, we can remove imagePullSecrets config
  imagePullSecrets:
  - name: regcred
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      memory: 128Mi
  encryption:
    key: password

postgresql:
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
  persistence:
    enabled: false
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
  replication:
    enabled: false
